@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.footer {
    background: #e5e5e5;
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    min-width: 100%;
}

.footer > * {
    color: black;
    margin: 0 40px;
}

.develop > * {
    display: inline-block;
}

.develop > a {
    color: #9c8776;
}

.develop > a:hover {
    color: #dcab77;
}